{% load staticfiles %}

<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <title>FAImaison − contribution à l'expérimentation wifi</title>

    <!-- jQuery -->
    <script src="static/wifi/assets/jquery/jquery-1.11.0.min.js" type="text/javascript"></script>

    <!-- Bootstrap -->
    <script src="/static/wifi/assets/bootstrap/js/bootstrap.js"></script>
    <link href="/static/wifi/assets/bootstrap/css/bootstrap.min.css" rel="stylesheet">

    <!-- <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.6/css/bootstrap.min.css" integrity="sha384-1q8mTJOASx8j1Au+a5WDVnPi2lkFfwwEAa8hDDdjZlpLegxhjVME1fgjWPGmkzs7" crossorigin="anonymous"> -->
    <!-- Leaflet -->
    <link rel="stylesheet" type="text/css" media="all" href="/static/wifi/assets/leaflet/leaflet.css" />
    <script src="/static/wifi/assets/leaflet/leaflet.js" type="text/javascript"></script>
    <!-- Leaflet-semicircle -->
    <script src="/static/wifi/assets/leaflet-semicircle/semicircle.js" type="text/javascript"></script>

    <!-- Custom -->
    <link rel="stylesheet" type="text/css" media="all" href="/static/wifi/assets/main.css" />


  </head>
<body class="{{page}}">

  <header class="main-header jumbotron">
    <div class="container">
    <!-- %if page == 'form': -->
    <h1><a href="./">Réseau wifi expérimental</a></h1>


    {% block content %}
    {% endblock content %}


    <!-- %else: -->
    <!-- %end -->
    </div>
  </header>

  <section role="main" class="container">
  <!-- %include -->
  </section>

  <footer>
    <p>
        Les données personnelles que vous ne rendez pas publiques
	sont stockées exclusivement chez FAImaison durant un an (sauf demande de votre part)
	et ne seront pas partagées avec d'autres
	associations, entreprises ou collectivités. Des membres de
	FAImaison seront toutefois amenés à les étudier : ne
	fournissez pas de données si vous n'avez pas confiance en FAImaison.
        <br>
        <a href="//www.faimaison.net" target="_blank">FAImaison.net</a> -
        <a href="./legal">Vos droits d'accès et de rectification de vos données
	personnelles</a>
    </p>
  </footer>

</body>
</html>
