{% extends "wifi/base.html" %}

{% block content %}

{% load crispy_forms_tags %}

<div> Petite présentation de Tetaneutral. </div>

<form action="{% url 'home' %}" method="POST">
    {% csrf_token %}
    {{ form | crispy }}

    <input type="submit", value="Valider"></input>
</form>

{% endblock content %}
