
{% extends "wifi/base.html" %}

{% block content %}

<h1>Merci !</h1>

<p>
Votre contribution a bien été enregistrée.
</p>
<p>
Si vous voulez <strong>rester en
contact</strong> avec FAImaison, nous rencontrer ou vous tenir informé, ça
se passe sur
<a href="//www.faimaison.net/pages/contact.html">la page contact</a> de
l'association.
</p>

<p>
Vous pouvez consulter la <a href="./map">carte publique avec tous les autres contributions</a>.
</p>

{% endblock content %}
